body {
    background-color: rgb(255, 255, 255);
  }
  h1 {
    color: rgb(0, 0, 0);
  }
  p {
    color: rgb(0, 0, 0);
  }
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: left;
  }
  
  h3 {
    text-align: right;
  }